* {
    margin: 0;
    padding: 0;
    }
body{  
   
   height: 100%;
   background-color: #000000;
    /* background: linear-gradient(#0f2027 , #203a43, #2c5364);   */
}

input{
    margin:15px 0px 15px 10px;
  
   padding-left: 10px;
   font-size: 18px;
   height: 25px;
   width: 25vw;
   /* border: 3px solid black; */
   border-radius:25px ;
   -webkit-border-radius:25px ;
   -moz-border-radius:25px ;
   -ms-border-radius:25px ;
   -o-border-radius:25px ;
}

button{
    height: 30px;
    width: 80px;
    color: white;
   
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    background-color: rgb(47, 120, 188);
    -o-border-radius: 20px;
}


.movieinfo{
    display: flex;
    flex-direction: row;
    height: 900px; 
    justify-content: space-evenly;
}
.movieposter{
   margin-top: 70px;
   margin-left: 50px;
   border-radius: 15px;
   height: 750px;
   width: 400px;
}
.moviediscription{
    /* height: 750px; */
    width: 60vw;
    margin-left: 20px;
}
.trailer{
    height: 250px;
  display: flex;
  flex-direction: row;
  
  justify-content: center;
}
iframe{
    height: 250px;
    width: 500px;
    
    
    background-size: cover;
    background-repeat: no-repeat;

}
.actorsnameandphoto {
    
    height: 250px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
   
    /* -ms-overflow-style: none; 
  scrollbar-width: none; */
    
}
/* .actorsnameandphoto ::-webkit-scrollbar{
    display: none;
} */
.actorsnameandphoto .cast{
    margin-left: 20px;
    height: 250px;
    min-width: 150px;

    width: 170px;
}
.imageofcast{
    height: 180px;
    width: 150px;
    border: 2px solid rgb(179, 107, 0)
}
.nameofcast{
    color: white;
    width: 150px;
    text-align: center;
    justify-content: center;
    background-color: #4477CE;

}

h1{
    margin-bottom: 15px;
    text-align: center;
    color: #000000;
    font-size: 25px;
    border-bottom: 2px solid black;
    background-color: #97aedc;
    margin-top: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.mainimage{
    height: 550px;
    width: 400px;
    /*border: #000000;
    */border-radius:20px 20px 10px 10px ;
    border: 3px solid rgb(235, 237, 109);
   
}
.namerating{
    height: 100px;
    width: 400px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(28, 27, 27, 0.83);
    border: 3px solid rgba(28, 27, 27, 0.83);
    border-radius:0px 0px 50px 50px ;
    -webkit-border-radius:0px 0px 50px 50px ;
    -moz-border-radius:0px 0px 50px 50px ;
    -ms-border-radius:0px 0px 50px 50px ;
    -o-border-radius:0px 0px 50px 50px ;
}
.rating{
    margin-left: 6px;
    background-color: cornflowerblue;

    height: 60px;
    width: 60px;
    border:5px solid #0f2027;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    font-size: 25px ;
    color: #000000;
    text-align: center;
   align-content: center;
}
.date{
    margin-left: 10px;
    height: 60px;
    width: 150px;
   padding-top: 20px;
    font-size: 25px;
    color: white;
    text-align: center;
}
h2{ 
    margin-left: 5px;
    font-size: 40px;
    color: white;
    text-align: center;
}
p{
    font-size: 20px;
    color:rgb(235, 234, 234);
}





           /* trendingsection css */

.trendingsection{
    margin: 25px;
    /* height: 900px; */
    
}
.trendingcontainer{
    padding-left: 70px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 30px;
}
.trending{
   border-radius: 10px;

   height: 400px;
   width: 270px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}
.movieinformation{
    display: flex;
    width: 270px;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(28, 27, 27, 0.83);
    border: 3px solid rgba(28, 27, 27, 0.83);
    border-radius:0px 0px 20px 20px ;
    -webkit-border-radius:0px 0px 20px 20px ;
    -moz-border-radius:0px 0px 20px 20px ;
    -ms-border-radius:0px 0px 20px 20px ;
    -o-border-radius:0px 0px 20px 20px ;
}
.trending img{
    height: 350px;
    width: 270px;
    border-radius:20px 20px 5px 5px ;
    border: 3px solid rgb(235, 237, 109);
    -webkit-border-radius:20px 20px 5px 5px ;
    -moz-border-radius:20px 20px 5px 5px ;
    -ms-border-radius:20px 20px 5px 5px ;
    -o-border-radius:20px 20px 5px 5px ;
}
.rating1{
    background-color: cornflowerblue;
 
    height: 30px;
    width: 30px;
    border:4px solid #0f2027;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    font-size: 14px ;
   color: black;
    text-align: center;
   align-content: center;
}

h3{
    color: white;
    padding-left: 10px;
    text-align: center;
}




.dateandlan{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.date{
    width: auto;
    color: white;
}
.dateandlan h3{
    color: white;
    font-size: 25px;
    margin-top: 15px;
    text-align: center;
}
.header{
    display: flex;
    margin: 0px 5vw 0px 5vw;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #26282c;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.nameofwebsite{
    background-color: rgba(192, 64, 64, 0.677);
    
    text-align: center;
    justify-content: center;
   
    align-items: center;
    font-size: 50px;
    background-image: url('https://media.geeksforgeeks.org/wp-content/uploads/20231218224644/w.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}


.differentsection a{
    margin:20px 0px 15px 10px;
    font-size: 20px;
    height: 30px;
    width: 200px;
    justify-content: center;
    text-align: center;
    color: #fffcfc;
    text-decoration: none;
    /* background-color:  rgb(47, 120, 188); */
    border-radius:20px ;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
}
.differentsection {
    margin:20px 0px 15px 10px;
    font-size: 20px;
    height: 25px;
    width: 200px;
    justify-content: center;
    border: 3px solid rgb(201, 94, 225);
    text-align: center;
    color: #fffbfb;
    text-decoration: none;
    background-color:  rgb(47, 120, 188);
    border-radius:20px ;   
    
}
.differentsection:hover{
    background-color: rgb(201, 94, 225);
    border: 3px solid rgb(47, 120, 188);
    
}


.genrecontainer{
    display: grid;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 5px;
    margin: 20px 200px 0px 200px;

    
}
.genre{
    height: 30px;
    width: 140px;
    border: 4px solid rgb(230, 82, 56);
    border-radius: 20px;
    background-color: rgb(226, 116, 20);
    font-size: 15px;
    text-align: center;
    color: white;
    align-content: center;
    justify-content: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.genre:hover{
    font-size: 18px;
    color: #000000;
    background-color: rgb(230, 82, 56);
    border: 4px solid rgb(226, 116, 20);
}



















@media  (max-width: 800px) {

    * {
        margin: 0;
        padding: 0;
        }
    body{  
       
       height: 100%;
       /* background-color: #fffcfc; */
    }
    
    input{
       margin:10px 0px 10px 5px;
       padding-left: 5px;
       font-size: 2vw;
       height: 5vw;
       width: 20vw;
       /*border: 3px solid black;
       */border-radius:5px ;
      
}
    
    button{
        height: 5vw;
        width: 8vw;
        color: white;
        font-size: 2vw;
        border-radius: 10px;
        background-color: rgb(47, 120, 188);
        -o-border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
}
    
    
    .movieinfo{
        display: flex;
        flex-direction: row;
        height: 100vw; 
        justify-content: space-evenly;
        background-color: #000000;
    }
    .movieposter{
       margin-top: 5vw;
       margin-left: 3vw;
       border-radius: 15px;
       height: 80vw;
       width: 40vw;
    }
        
    .mainimage{
        height: 60vw;
        width: 40vw;
        /*border: #000000;
        */border-radius:15px 15px 5px 10px ;
        border: 3px solid rgb(235, 237, 109);
       
    }
    .namerating{
        height: 10vw;
        width: 40vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(28, 27, 27, 0.83);
        border: 2px solid rgba(28, 27, 27, 0.83);
        border-radius:0px 0px 20px 20px ;
        -webkit-border-radius:0px 0px 20px 20px ;
        -moz-border-radius:0px 0px 20px 20px ;
        -ms-border-radius:0px 0px 20px 20px ;
        -o-border-radius:0px 0px 20px 20px ;
}
    .rating{
        margin-left: 6px;
        background-color: cornflowerblue;
    
        height: 6vw;
        width: 6vw;
        border:2px solid #0f2027;
        border-radius:50% ;
        -webkit-border-radius:50% ;
        -moz-border-radius:50% ;
        -ms-border-radius:50% ;
        -o-border-radius:50% ;
        font-size: 10px ;
        color: #000000;
        text-align: center;
       align-content: center;
    }
    .moviediscription{
        /* height: 750px; */
        width: 50vw;
        margin-left: 3vw;
    }
    .trailer{
        height: 25vw;
      display: flex;
      flex-direction: row;
      
      justify-content: center;
    }
    iframe{
        height: 25vw;
        width: 30vw;
        
        background-color: #090b57;
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    
    
    .actorsnameandphoto {
        
        height: 20vw;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
       
        -ms-overflow-style: none; 
      scrollbar-width: none;
        
    }
    /* .actorsnameandphoto ::-webkit-scrollbar{
        display: none;
    } */
    .actorsnameandphoto .cast{
        margin-left: 2vw;
        height: 15vw;
        min-width: 10vw;
    
        /* width: 170px; */
    }
    .imageofcast{
        height: 15vw;
        width: 10vw;
        border: 1px solid rgb(179, 107, 0)
    }
    .nameofcast{
        color: white;
        width:10vw;
        font-size: 1vw;
        text-align: center;
        justify-content: center;
        background-color: #4477CE;
    
    }
    
    h1{
        margin-bottom: 2vw;
        text-align: center;
        color: #000000;
        font-size: 3vw;
        border-bottom: 2px solid black;
        background-color: #97aedc;
        margin-top: 2vw;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
}

    .date{
        margin-left: 2vw;
        height: 10vw;
        width: 10vw;
       padding-top: 3vw;
        font-size: 10px;
        color: white;
        text-align: center;
    }
    h2{ 
        margin-left: 1vw;
        font-size: 4vw;
        color: white;
        text-align: center;
    }
    p{
        font-size: 2vw;
        color: rgb(219, 216, 216);
    }
    
    
    
    
    
               /* trendingsection css */
    
    .trendingsection{
        margin: 1vw;
        /* height: 900px; */
        
    }
    .trendingcontainer{
        padding-left: 1vw;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        row-gap: 2vw;
    }
    .trending{
       border-radius: 6px;
       height: 35vw;
       width: 20vw;
       -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
       -ms-border-radius: 6px;
       -o-border-radius: 6px;
}
    .movieinformation{
        display: flex;
        width: 20vw;
        flex-direction: row;
        align-content: flex-end;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(28, 27, 27, 0.83);
        border: 1px solid rgba(28, 27, 27, 0.83);
        border-radius:0px 0px 10px 10px ;
        -webkit-border-radius:0px 0px 10px 10px ;
        -moz-border-radius:0px 0px 10px 10px ;
        -ms-border-radius:0px 0px 10px 10px ;
        -o-border-radius:0px 0px 10px 10px ;
}
    .trending img{
        height: 30vw;
        width: 20vw;
        border-radius:10px 10px 3px 3px ;
        border: 1px solid rgb(235, 237, 109);
        -webkit-border-radius:10px 10px 3px 3px ;
        -moz-border-radius:10px 10px 3px 3px ;
        -ms-border-radius:10px 10px 3px 3px ;
        -o-border-radius:10px 10px 3px 3px ;
}
    .rating1{
        background-color: cornflowerblue;
     
        height: 2vw;
        width: 2vw;
        border:2px solid #0f2027;
        border-radius:50% ;
        -webkit-border-radius:50% ;
        -moz-border-radius:50% ;
        -ms-border-radius:50% ;
        -o-border-radius:50% ;
        font-size: 1vw ;
       color: black;
        text-align: center;
       align-content: center;
    }
    
    h3{
        color: white;
        padding-left: 1vw;
        text-align: center;
        font-size: 1.5vw;
    }
    
    
    
    
    .dateandlan{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
    }
    .dateandlan h3{
        color: white;
        font-size: 10px;
        margin-top: 3vw;
        text-align: center;
    }
    .header{
        display: flex;
        margin: 0px 3vw 0px 3vw;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: #26282c;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    
    
    .nameofwebsite{
        background-color: rgba(192, 64, 64, 0.677);
        
        text-align: center;
        justify-content: center;
       
        align-items: center;
        font-size: 30px;
        background-image: url('https://media.geeksforgeeks.org/wp-content/uploads/20231218224644/w.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }
    
    
    .differentsection a{
        /* margin:10px 0px 10px 5px; */
        margin:2vw 0px 3vw 2vw;
        font-size: 2vw;
        height: 2vw;
        width: 15vw;
        justify-content: center;
        text-align: center;
        color: #fffcfc;
        text-decoration: none;
        /*background-color:  rgb(47, 120, 188);
        */border-radius:10px ;
        
}
    .differentsection {
        margin:2vw 0px 3vw 2vw;
        font-size: 2vw;
        height: 2vw;
        width: 15vw;
        justify-content: center;
        border: 2px solid rgb(201, 94, 225);
        text-align: center;
        color: #fffbfb;
        text-decoration: none;
        background-color:  rgb(47, 120, 188);
        border-radius:10px ;
        -webkit-border-radius:10px ;
        -moz-border-radius:10px ;
        -ms-border-radius:10px ;
        -o-border-radius:10px ;
}
    .differentsection:hover{
        background-color: rgb(201, 94, 225);
        border: 2px solid rgb(47, 120, 188);
        
    }
    
    
    .genrecontainer{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 1vw;
        margin: 2vw 6vw 1vw 6vw;
    
        
    }
    .genre{
        height: 2vw;
        width: 15vw;
        border: 1px solid rgb(230, 82, 56);
        border-radius: 5vw;
        background-color: rgb(226, 116, 20);
        font-size: 2vw;
        text-align: center;
        color: white;
        align-content: center;
        justify-content: center;
        -webkit-border-radius: 5vw;
        -moz-border-radius: 5vw;
        -ms-border-radius: 5vw;
        -o-border-radius: 5vw;
}
    .genre:hover{
        font-size: 18px;
        color: #000000;
        background-color: rgb(230, 82, 56);
        border: 4px solid rgb(226, 116, 20);
    }
    

}